{%- extends "lab/index.html.j2" -%}

{# Change: Remove default Jupyter widgets and add ours #}
{% block jupyter_widgets %}
{# <script src="/js/dist/illusionist-embed.js"></script> #}
{# <link rel="stylesheet" href="/js/dist/illusionist-embed.css"> #}
{{ resources.include_js("illusionist/assets/illusionist-embed.js") }}
{{ resources.include_css("illusionist/assets/illusionist-embed.css") }}
{% endblock jupyter_widgets %}

{%- block footer %}
{%- if "widgets" in nb.metadata %}
  {%- set mimetype = 'application/vnd.jupyter.widget-state+json'-%}
  {%- if mimetype in nb.metadata.get("widgets", {}) %}
  <script type="{{ mimetype }}">
  {{ nb.metadata.widgets[mimetype] | json_dumps }}
  </script>
  {%- endif -%}

  {%- set mimetype = "application/vnd.illusionist.widget-onchange+json" -%}
  {%- if mimetype in nb.metadata.get("widgets", {}) %}
  <script type="{{ mimetype }}">
  {{ nb.metadata.widgets[mimetype] | json_dumps }}
  </script>
  {%- endif %}
{%- endif %}
</html>
{%- endblock footer-%}
