# Used for CI - It should match environment.yml

# Base
setuptools
setuptools_scm
pylint
flake8
black
isort
twine
wheel
pytest
pytest-cov

# Docs
mkdocs
mkdocs-material
mkdocs-jupyter
mkdocs-minify-plugin
pygments
pymdown-extensions

# Package
nbconvert>=6.0.6,<7
nbclient>=0.5.0
nbformat>=5.0.7

# Other
notebook
jupyterlab
ipywidgets
matplotlib
