{%- extends 'lab/index.html.j2' -%}

{% block jupyter_widgets %}
{%- if "widgets" in nb.metadata -%}
  <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" type="text/css" />
  {%- if resources.illusionist_devmode -%}
      <script src="./static/main.js"></script>
  {%- else -%}
      <script>{{ include_template("./static/main.js") }}</script>
  {%- endif -%}
{%- endif -%}
{% endblock jupyter_widgets %}

{%- block footer %}
{{ super() }}

{% set mimetype = "application/vnd.illusionist.widget-onchange+json" %}
{% if mimetype in nb.metadata.get("widgets", {}) %}
<script type="{{ mimetype }}">
{{ nb.metadata.widgets[mimetype] | json_dumps }}
</script>
{% endif %}
{%- endblock footer-%}
