{%- extends 'classic/index.html.j2' -%}

{% block ipywidgets %}
{%- if "widgets" in nb.metadata -%}
{{ resources.illusionist_resource }}
{%- endif -%}
{% endblock ipywidgets %}


{%- block footer %}
{{ super() }}

{% set mimetype = "application/vnd.illusionist.widget-onchange+json" %}
{% if mimetype in nb.metadata.get("widgets", {}) %}
<script type="{{ mimetype }}">
{{ nb.metadata.widgets[mimetype] | json_dumps }}
</script>
{% endif %}
{%- endblock footer-%}
